@import "tailwindcss";

:root {
  font-family: 'Pretendard', sans-serif;
  /* 모바일에서 터치할 때 파란색 박스 생기는 것 방지 */
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  /* 배경은 PageLayout이 알아서 하므로 여기서 흰색 지정 안 해도 됨 */
}

/* 스크롤바 숨기기 (선택 사항) 
::-webkit-scrollbar {
  display: none;
}*/